<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ps.mapper.QuestionnaireResultMapper">

    <!--根据用户id查询文卷调查信息-->
    <select id="queryAll" resultType="com.ps.domain.QuestionnaireResultVO">
        SELECT id , questionnare_id,user_id,questiondetail_id,choose from result_t WHERE user_id = #{userId}
    </select>


    <!--增加问卷调查信息-->
    <insert id="add">
        insert into result_t (id,user_id,questionnare_id,questiondetail_id,choose) values ((
        select nullif(max(id),0)+1 from (select * from result_t) a),#{user_id},#{questionnare_id},#{questiondetail_id},#{choose})
    </insert>

<!--
    &lt;!&ndash;根据问卷id 查询问卷内容&ndash;&gt;
    <select id="queryByQuestionnaireId">
         select id,name,questionnare_id from questiondetail_t where questionnare_id=#{questionnaireId}
    </select>-->

</mapper>