<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ps.mapper.IntegralMapper">

    <!--根据会员id查询积分流水-->
    <select id="queryAll" resultType="com.ps.domain.IntegralVO">
         SELECT  id , detail , user_id, type FROM point_t WHERE user_id = #{userId}
    </select>

    <!--根据积分流水id查询积分流水-->
    <select id="queryById" resultType="com.ps.domain.IntegralVO">
         SELECT  id , detail , user_id, type FROM point_t WHERE id = #{id}
    </select>


    <!--增加积分流水-->
    <insert id="addIntegral" useGeneratedKeys="true" keyProperty="id">
        insert into point_t (detail,user_id,type) values (#{detail},#{user_id},#{type})
    </insert>




    <!--&lt;!&ndash;删除积分&ndash;&gt;
    <delete id="deleteIntegral">
        delete from point_t where id=#{id}
    </delete>

    &lt;!&ndash;修改积分&ndash;&gt;
    <update id="updateIntegral">
        update point_t set username=#{username},password=#{password} where id=#{id}
    </update>-->

</mapper>